@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html {
    scroll-behavior: smooth;
}

body {
  background: rgb(var(--background-rgb));
}

@layer base {
  html {
    font-family: var(--font-inter), system-ui, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display-fair), serif;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  /* .container {
    @apply max-w-7xl mx-auto;
  } */

  .font-display-fair {
    font-family: var(--font-display-fair), serif;
  }

  .font-space-mono {
    font-family: var(--font-space-mono), monospace;
  }

  .font-inter {
    font-family: var(--font-inter), sans-serif;
  }
}


.slick-prev,
.slick-next {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Use !important to override default styles */
    border-radius: 50%;
    padding: 10px;
    color: white; /* Change to white for better visibility */
    z-index: 1;
}
/*
.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
} */

/* From Uiverse.io by aryamitra06 */
.loader {
    display: flex;
    align-items: center;
  }

  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }

  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }

  .bar:nth-child(3) {
    animation-delay: .5s;
  }

  @keyframes scale-up4 {
    20% {
      background-color: #5c5a5a;
      transform: scaleY(1.5);
    }

    40% {
      transform: scaleY(1);
    }
  }
